ErrorDocument 404 /eartusi/404.html
#ErrorDocument 404 /404.html

ErrorDocument 500 /eartusi/500.html
#ErrorDocument 500 /500.html

RewriteCond %{HTTP_REFERER} ^$
RewriteRule ^assets\/(.*)$ /eartusi/403.html [L,R=301]
#RewriteRule ^assets\/(.*)$ /403.html [L,R=301]

RewriteEngine On

RewriteRule ^auto\.html$ /eartusi/auto.php [L,R=301]
#RewriteRule ^auto\.html$ /auto.php [L,R=301]

RewriteRule ^registrazione\.html$ /eartusi/registrazione.php [L,R=301]
#RewriteRule ^registrazione\.html$ /registrazione.php [L,R=301]

RewriteRule ^login\.html$ /eartusi/login.php [L,R=301]
#RewriteRule ^login\.html$ /login.php [L,R=301]

RewriteRule ^test\_drive\.html$ /eartusi/test_drive.php [L,R=301]
#RewriteRule ^test\_drive\.html$ /test_drive.php [L,R=301]

RewriteRule ^listino\.html$ /eartusi/listino.php [L,R=301]
#RewriteRule ^listino\.html$ /listino.php [L,R=301]

RewriteRule ^index\.html$ /eartusi/index.php [L,R=301]
#RewriteRule ^index\.html$ /index.php [L,R=301]

RewriteRule ^utente\.html$ /eartusi/utente.php [L,R=301]
#RewriteRule ^utente\.html$ /utente.php [L,R=301]

RewriteRule ^amministratore\.html$ /eartusi/amministratore.php [L,R=301]
#RewriteRule ^amministratore\.html$ /amministratore.php [L,R=301]

RewriteRule ^eliminaUtente\.html$ /eartusi/eliminaUtente.php [L,R=301]
#RewriteRule ^eliminaUtente\.html$ /eliminaUtente.php [L,R=301]

RewriteRule ^modificaUtente\.html$ /eartusi/modificaUtente.php [L,R=301]
#RewriteRule ^modificaUtente\.html$ /modificaUtente.php [L,R=301]

RewriteRule ^(.*).php/(.*)$ /eartusi/404.html [L,R=301]
#RewriteRule ^(.*).php/(.*)$ /404.html [L,R=301]

RewriteRule ^(.*).html/(.*)$ /eartusi/404.html [L,R=301]
#RewriteRule ^(.*).html/(.*)$ /404.html [L,R=301]

RewriteRule ^$ /eartusi/index.php [L,R=301]
#RewriteRule ^$ /index.php [L,R=301]

RewriteRule ^dbConnection\.php$ /eartusi/403.html [L,R=301]
#RewriteRule ^dbConnection\.php$ /403.html [L,R=301]